# Git Ignore 


# All the files related to the launches 

# Ignore the Armiarma Executable
src/bin

# Ignore the example folder (personal to each user)
examples/*
# Ignore the example folder (personal to each user)
general-results/*
# Ignore the website summary folder
website-summary/*

# Ignore System Files (from MAC)
.DS_Store
._.DS_Store

# ignore the venv
src/analyzer/venv
