{% extends 'base.html' %}

{% block content %}
<h2 style="text-align: center">Graph Summary</h1>
<div>
    <div style="width: 30%; float:left">
        <h3 style="text-align: center">Graph List</h3>
        <div class="graphlist">
            <ul style="align-self: center;">
                <li class='graphitem'><a href="PeerstoreVsConnectedPeers">Crawled Peers VS Connected Peers</a></li>
                <li class='graphitem'><a href="PeersPerCountries">Peers Per Country</a></li>
                <li class='graphitem'><a href="PeersPerClient">Peers Per Client</a></li>
                <li class='graphitem'><a href="ConnectionsWithPeers">Connections With Peers</a></li>
                <li class='graphitem'><a href="DisconnectionsWithPeers">Disconnections With Peers</a></li>
                <li class='graphitem'><a href="TimeConnectedWithPeers">Time Connected With Peers</a></li>
                <li class='graphitem'><a href="LatencyWithPeers">Latency With Peers</a></li>
                <li class='graphitem'><a href="AverageLatencyPerClientType">Average Client Latency</a></li>
                <li class='graphitem'><a href="AverageOfConnectionsPerClientType">Average Client Connections</a></li>
                <li class='graphitem'><a href="AverageOfDisconnectionsPerClientType">Average Client Disconnections</a></li>
                <li class='graphitem'><a href="AverageOfConnectedTimePerClientType">Average Client Connected Time</a></li>
                <li class='graphitem'><a href="MessagesFromBeaconBlock">Received Beacon Block Messages</a></li>
                <li class='graphitem'><a href="MessagesFromBeaconAggregateProof">Received Beacon Aggregation Messages</a></li>
                <li class='graphitem'><a href="MessagesFromVoluntaryExit">Received Voluntary Exit Messages</a></li>
                <li class='graphitem'><a href="MessagesFromAttesterSlashing">Received Attester Slashing Messages</a></li>
                <li class='graphitem'><a href="MessagesFromProposerSlashing">Received Proposer Slashing Messages</a></li>
                <li class='graphitem'><a href="MessageAverageFromBeaconBlock">Average Beacon Block Messages</a></li>
                <li class='graphitem'><a href="MessageAverageFromBeaconAggregateProof">Average Beacon Aggregation Messages</a></li>
                <li class='graphitem'><a href="MessageAverageFromVoluntaryExit">Average Voluntary Exit Messages</a></li>
                <li class='graphitem'><a href="MessageAverageFromAttesterSlashing">Average Attester Slashing Messages</a></li>
                <li class='graphitem'><a href="MessageAverageFromProposerSlashing">Average Proposer Slashing Messages</a></li>
                <li class='graphitem'><a href="BeaconBlockMessagePerClient">Beacon Block Messages Per Peer</a></li>
                <li class='graphitem'><a href="TotalMesagesPerTimeConnected">Total Received Messages Per Peer</a></li>
            </ul>
        </div>
    </div>
    <div style="width: 70%; float:left; display:flex; justify-content:center; align-items: center;">
        <div class="graph-plot">        
            {% block graph %} 
                <h3 style="text-align: center; top: 50%">Select Graphs from the list on the left.</h3>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}